<div class="j-category-tree">
    <div data-angular-treeview="true" data-tree-id="jCtree" data-tree-model="$ctrl.treenodes" data-node-id="id" data-node-label="label" data-node-children="children">
    </div>
</div>